
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);


// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "resources/assets/bower/materialize/sass/materialize";
@import url("//fonts.googleapis.com/icon?family=Material+Icons");
@import "resources/assets/bower/material-design-lite/material.min";

// Custom Styles
nav {
    right: 0;
    position: fixed;
}

.content-grid {
    max-width: 960px;
    margin-top: 64px;
}

// .card-centered {
//     margin:auto;
// }

.fixed,
.mdl-layout__drawer-button,
.mdl-layout__obfuscator {
    position: fixed;
}

.footer-contact {
    display:block;
}

.footer-content {
    width: 100%;
}

.footer-link-title {
    float: none;
}

/* Sticky footer styles
-------------------------------------------------- */
// html {
//   position: relative;
//   min-height: 100%;
// }
// body {
//   /* Margin bottom by footer height */
//   margin-bottom: 20px;
// }
// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   /* Set the fixed height of the footer here */
//   height: 20px;
// }
